[Unit]
Description=Raroescucha bot exporter
Requires=network-online.target firewalld.service

[Container]
# Use the centos image
Image=localhost/raroexporter:latest
# Use volume and network defined below
EnvironmentFile=/root/qsvt/.env
Volume=/root/qsvt/data:/data:rw,Z,noexec
HostName=quesevayantodos
#ReadOnly=true

[Service]
TimeoutStartSec=900
Restart=on-abnormal

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
